<body>
    <div class="main-title">
        <h1>Welcome to The Window of Knowledge!</h1>
    </div>

    <div class="course-container">
        <h1>Our Latest Courses:</h1>
        @for (course of latestCourses; track $index) {
            <div class="course-card">
                <img src="{{course.imageUrl}}"
                    alt="{{course.title}}" class="course-img">
                <div class="course-details">
                    <h3 class="course-title">{{course.title}}</h3>
                    <p class="course-description">
                        {{course.description}}
                    </p>
                    <div class="btn details-btn">Details</div>
                </div>
            </div>
        }
    </div>
</body>
