<h1 class="courses-title">All our Courses:</h1>
<div class="course-container">
    @for (course of courses; track $index) {
        <div class="course-card">
            <img src="{{course.imageUrl}}" alt="{{course.title}}" class="course-img">
            <div class="course-details">
                <h3 class="course-title">{{course.title}}</h3>
                <p class="course-description">
                    {{course.description}}
                </p>
                <div class="btn details-btn">Details</div>
            </div>
        </div>
    }
</div>
